<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    android:usesPermissionFlags="neverForLocation"
  />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION"
    android:maxSdkVersion="30"
  />
  <uses-permission
    android:name="android.permission.WRITE_SECURE_SETTINGS"
    tools:ignore="ProtectedPermissions"
  />
  <uses-permission
    android:name="android.permission.SYSTEM_ALERT_WINDOW"
    tools:ignore="SystemAlertWindowPermission" />
  <uses-permission
    android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"
    tools:ignore="ProtectedPermissions" />
  <uses-permission
    android:name="android.permission.READ_LOGS"
    tools:ignore="ProtectedPermissions"
  />

  <uses-permission android:name="android.permission.BYDAUTO_AC_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_AC_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_AC_SET" />
  <uses-permission android:name="android.permission.BYDAUTO_SETTING_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_SETTING_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_SETTING_SET" />
  <uses-permission android:name="android.permission.BYDAUTO_ADAS_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_ADAS_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_ADAS_SET" />
  <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_SET" />
  <uses-permission android:name="android.permission.BYDAUTO_SENSOR_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_SENSOR_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_LIGHT_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_LIGHT_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_TYRE_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_TYRE_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_SPEED_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_ENGINE_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_ENGINE_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_CHARGING_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_CHARGING_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_ENERGY_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_ENERGY_GET" />
  <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />
  <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_GET" />

  <uses-feature android:name="android.hardware.usb.host" android:required="false" />
  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
  <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />

  <uses-permission
    android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission" />

  <queries>
    <package android:name="com.strike" />
    <intent>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="http" />
    </intent>
    <intent>
      <action android:name="android.intent.action.DIAL" />
    </intent>
    <intent>
      <action android:name="android.settings.SETTINGS" />
    </intent>
  </queries>

  <application
    android:name=".OpenDiKeyApp"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AirconController"
  >
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/Theme.OpenDiKey">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
      </intent-filter>
      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/usb_device_filter" />
    </activity>
    <activity
      android:name=".ColorConfigActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".ButtonMappingActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".VehicleInfoActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".AdasActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".SentryActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".VehicleDumpActivity"
      android:exported="false"
      android:parentActivityName=".DebugHubActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".MapEventActivity"
      android:exported="false"
      android:parentActivityName=".ButtonMappingActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".MapActionActivity"
      android:exported="false"
      android:parentActivityName=".MapEventActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".IntentEditorActivity"
      android:exported="false"
      android:parentActivityName=".MapActionActivity"
      android:theme="@style/Theme.OpenDiKey"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ActionPickerActivity"
      android:exported="false"
      android:parentActivityName=".MapActionActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".AppPickerActivity"
      android:exported="false"
      android:parentActivityName=".MapActionActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".DebugHubActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".SettingsHubActivity"
      android:exported="false"
      android:parentActivityName=".MainActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".ClimateTestActivity"
      android:exported="false"
      android:parentActivityName=".DebugHubActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".DiKeyProbeActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:parentActivityName=".DebugHubActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <activity
      android:name=".UsbProbeActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:parentActivityName=".DebugHubActivity"
      android:theme="@style/Theme.OpenDiKey" />
    <receiver
      android:name=".usb.UsbPermissionReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="com.sphy.airconcontroller.USB_PERMISSION" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".lighting.LightingAlarmReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="com.sphy.airconcontroller.action.LIGHTING_SWITCH" />
      </intent-filter>
    </receiver>
    <service
      android:name=".boot.DiKeyListenService"
      android:exported="false"
      android:foregroundServiceType="connectedDevice|specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="DiKey USB/BLE accessory listener while the app is running" />
    </service>
  </application>
</manifest>
